<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
   <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>INTEGRAL</title>
	
</head>
<body>
   <header>
        <h1>App SIC-115</h1>
    <br>
  </header>
  <div id="contenido">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>